#playContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  
  /*width: 2000px;
  height: 2000px;*/
  /*right: 63%;
  bottom: 21%;*/
  width: 400%;
  height: 400%;
  background: black;
  border: 1px solid whitesmoke;
}
#fullContainer {
  position: absolute;
  left: 2.5%;
  top: 10%;
  width: 95%;
  height: 85%;
  overflow: hidden;
}

.character-icon {
  max-width: 5%;
  max-height: 5%;
  position: absolute;
}

#bounce-back {
  animation-name: bounce;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    background-color: white;
    top: 0px;
    bottom:0px;
  }
  30% {
    background-color: red;
    top: 5px;
  }
  60% {
    background-color: white;
    bottom: 5px;
  }
  100% {
    background-color: white;
    top: 0px;
    bottom: 0px;
  }
}
