body {
    background: linear-gradient(black, darkgreen, green, lightgreen, #b6e496)
}
header {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid white;
  /* background-image: url("assets/images/spotlight.jpg"); */
  /* background-image: linear-gradient(rgb(249, 252, 247), rgb(1, 12, 1)); */
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(black, darkgreen, green, lightgreen, #b6e496) */
}

#highScoreDisplay {
display: flex;
justify-content: center;
min-width: 100%;
}

#highScore-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid white;
  border-radius: 25px;
  max-width: 50%;
}
#highScore-container li {
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
  list-style-type: circle;
  color: black;
  background-color: lightgreen;
  list-style-position: inside;
}

button {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
}

nav {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
  margin: 10px;
}
nav h2 {
    color: white;
}

.message-and-gif {
  margin: 25px;
  text-align: center;
  border: 5px solid white;
  background-color: black;
  color: white;
}

#foodGif {
  margin: 0px 0px;
  max-width: 100%;
  max-height: auto;
}
