body {
    font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  padding: 20px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(rgb(249, 252, 247), rgb(1, 12, 1));
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background: linear-gradient(black, darkgreen, green, lightgreen, #b6e496)
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-container h1 {
    bottom: 25px;
    border-bottom: 2px solid white;
    
}

.spotlight {
    max-width: 10%;
    max-height: auto;
    margin: 0px 25px 25px 25px;
}

#highScoreDisplay {
display: flex;
justify-content: center;
min-width: 100%;
}

#highScore-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 5px solid white; */
  border-radius: 25px;
  max-width: 50%;
}
#highScore-container li {
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
  list-style-type: circle;
  color: black;
  background-color: lightgreen;
  list-style-position: inside;
}
#highScore-container li:last-child {
    background-color: violet;
    border: 2px solid white;
} 
#highScore-container li:hover {
    opacity: 0.8;
}

button {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
}

button:hover {
    transform: scale(1.2);
}

nav {
  display: flex;
  min-width: 100%;
  justify-content: space-evenly;
  margin: 10px;
}
nav h2 {
    color: white;
}

.message-and-gif {
  margin: 25px;
  text-align: center;
  border: 5px solid white;
  background-color: black;
  color: white;
  border-radius: 25px;
}

.message-and-gif h3{
    padding: 5px 10px;
    font-size: 20px;
  }

#foodGif {
  margin: 0px 0px;
  max-width: 100%;
  max-height: auto;
}
