header h1 {
  padding: 20px;
  text-align: center;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  background-image: linear-gradient(rgb(249, 252, 247), rgb(1, 12, 1));
}

header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 50px 0px;
  margin-bottom: 0px;
}

#indexHeader {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  border-radius: 20px;
  border-width: 10px;
}

/* for the body */
p {
  font-size: 15px;
  display: grid;
  place-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gray;
}

button {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* modal the pop ups for instructions and highscore */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 3px solid #888;
  width: 50%;
}

#modal-list li {
  padding: 5px;
}

#hs-modal-container li {
  text-align: left;
  padding: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gray;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

/* hovering over the buttons */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
}

#start-button-box {
  display: grid;
  place-items: center;
  padding: 25px;
}

/* start button styling
learning background-image */
#start-button {
  display: flex;
  margin: auto;
  margin-top: 30px;
  color: white;
  border-radius: 25px;
  border-width: 10px;
  background-image: repeating-linear-gradient(gray, black);
}

body {
  position: absolute;
  width: 100%;
  height: max-content;
}

.big-container {
  background: linear-gradient(black, darkgreen, green, lightgreen, #b6e496);
}

.mainContainer {
  display: grid;
  place-items: center;
}

.container {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0% 25%;
  padding-top: 10px;
}

.container p {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  letter-spacing: .5px;
}

#mazeGif {
  padding-bottom: 50px;
}

#select-container {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
  /* background-color: violet; */

}

#animal {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 5px;
  color: black;
  /* color: rgb(117, 231, 117); */
  text-align: center;
}

/* #select-container select {
  display: none;
} */
