#playContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left:2.5%;
    top: 2.5%;
    width: 95%;
    height: 95%;
    background: black;
    border: 1px solid whitesmoke;
}

header {
    padding: 20px;
    text-align: center;
    background: darkgreen;
    color: black;
    font-size: 20px;
}

h2 {
color: darkgreen
}

p {
    font-size: 20px;
}

button {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

